/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F8F9FA; /* Color de fondo suave */
}

/* Header */
header {
    background-color: #0B2342; /* Color más oscuro de la paleta */
    color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #3B7DA7; /* Color de hover más claro */
}

/* Sección de aterrizaje */
.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #F8F9FA;
}

.landing .content {
    max-width: 50%;
}

.landing h2 {
    color: #24388D; /* Tono azul más oscuro */
    font-size: 48px;
    margin-bottom: 20px;
}

.landing p {
    color: #2F518C; /* Tono azul intermedio */
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-btn {
    padding: 15px 30px;
    background-color: #3B7DA7; /* Color del botón */
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.cta-btn:hover {
    background-color: #2F518C; /* Cambia a un tono más oscuro */
}

.landing .image img {
    max-width: 450px;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #0B2342;
    color: #FFF;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer p {
    margin: 0;
}
